<!-- 
    Per creare il server del cliente nel centralizzato chiamare questo URL 
    http://dashboard.informaticacentro.it/api/ServerGenerator/Create?username=xxx&password=xxx&serverName=xxxx
    
    Dove:
    username = username dell'amministratore per la login
    password = password dell'amministratore per la login
    serverName = nome che il server deve avere nel centralizzato (es. Adr, adrWeb)
    
    Se la creazione avviene con successo il servizio restituisce l'appid e l'apptoken da inserire qui sotto

-->

<LoggerSection>
  <loggers>
    <logger type="WebApiLogger" level="Debug" active="true">
      <parameters>
        <parameter key="Endpoint" value="http://localhost:65269/api/" />
        <parameter key="AppId" value="" />
        <parameter key="AppToken" value="" />
      </parameters>
    </logger>
  </loggers>
</LoggerSection>