<Log4netAppendersDefinition>
  <appenders>
    <appender name="LoggerInternal" active="true" />
    <appender name="LoggerEmailClient" active="true" />
    <appender name="LoggerEmailSupport" active="false" />
    <appender name="LoggerConsole" active="true" />
    <appender name="LoggerEventLog" active="true" />
  </appenders>
</Log4netAppendersDefinition>