<LoggerSection>
  <loggers>
    <logger type="WebApiLogger" level="Debug" active="true">
      <parameters>
        <parameter key="Endpoint" value="http://localhost:65269/api/" />
        <parameter key="AppId" value="Perfero-localhost-d8648ca9-8d1f-434b-9259-ebe8a0adc653" />
        <parameter key="AppToken" value="UGVyZmVyby1sb2NhbGhvc3QtUGVyZmVyby1sb2NhbGhvc3QtZDg2NDhjYTktOGQxZi00MzRiLTkyNTktZWJlOGEwYWRjNjUzLWU4M2I3YTkyLWJkNTMtNGI1OS05ZjVhLTM3YzFkZDcyZGEzYg==" />
      </parameters>
    </logger>
    <!--<logger type="LoggerInternal" level="Debug" active="true">
        <parameters>
          <parameter key="LogFilePath" value="log\TasksEverywhere.log" />
        </parameters>
      </logger>
      <logger type="LoggerEmail" level="Info" active="true">
        <parameters>
          <parameter key="bcc" value="a@a.a,b@b.b" />
          <parameter key="from" value="a@a.a" />
          <parameter key="to" value="dflori@informaticacentro.it" />
        </parameters>
      </logger>
      <logger type="LoggerEventLog" level="Debug" active="true">
        <parameters />
      </logger>
    -->
  </loggers>
</LoggerSection>