<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LoggerSection" type="TasksEverywhere.Quartz.Config.Sections.LoggerSection, TasksEverywhere.Quartz" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Log4netAppendersDefinition" type="TasksEverywhere.Quartz.Config.Sections.Log4netAppendersDefinition, TasksEverywhere.Quartz" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net configSource="config\log4net.config" />
  <Log4netAppendersDefinition>
    <appenders>
      <appender name="LoggerInternal" active="true" />
      <appender name="LoggerEmailClient" active="true" />
      <appender name="LoggerEmailSupport" active="false" />
      <appender name="LoggerConsole" active="true" />
      <appender name="LoggerEventLog" active="true" />
    </appenders>
  </Log4netAppendersDefinition>
  <LoggerSection>
    <loggers>
      <!--<logger type="LoggerInternal" level="Debug" active="true">
        <parameters>
          <parameter key="LogFilePath" value="log\TasksEverywhere.log" />
        </parameters>
      </logger>
      <logger type="LoggerEmail" level="Info" active="true">
        <parameters>
          <parameter key="bcc" value="a@a.a,b@b.b" />
          <parameter key="from" value="a@a.a" />
          <parameter key="to" value="dflori@informaticacentro.it" />
        </parameters>
      </logger>
      <logger type="LoggerEventLog" level="Debug" active="true">
        <parameters />
      </logger>
    -->
    </loggers>
  </LoggerSection>
  <appSettings>
    <add key="ClientName" value="Soncazzo SRL" />
    <add key="JsonConnection" value="\config\QuartzConfig.json" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="srv-samantha" port="25" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>