<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fleck" version="1.1.0" targetFramework="net46" />
  <package id="IIS.Microsoft.Web.Administration" version="8.5.9600.17042" targetFramework="net46" />
  <package id="log4net" version="2.0.10" targetFramework="net46" />
  <package id="WebSocketSharpFork" version="1.0.4.0" targetFramework="net46" />
</packages>