<h1>Elenco Jobs</h1>

<p *ngIf="!jobs"><em>Loading...</em></p>
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" [routerLink]="['/clients']">Indietro</a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-6 col-md-4" *ngFor="let job of jobs">
    <div class="thumbnail" style="height: 200px !important">
      <div class="caption">
        <h3>{{job.key}}</h3>
        <p>
          <span class="col-md-6">
            <span class="glyphicon glyphicon-ok" *ngIf="job.isExecutingCorrectly == true" style="color: forestgreen" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-remove" *ngIf="job.isExecutingCorrectly == false" style="color: orangered" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-play" *ngIf="job.executing == true" style="color: forestgreen" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-pause" *ngIf="job.executing == false" style="color: forestgreen" aria-hidden="true"></span>
          </span>
          <br />
          <span class="col-md-12">
            Ultima esecuzione: <br />
            Iniziata alle:  {{job.lastCall.startedAt}} <br />
            Terminata alle: {{job.lastCall.endedAt}} <br />
            Prossima esecuzione: {{job.lastCall.nextStart}} <br />
          </span>
        </p>
        <p><a href="#" class="btn btn-primary" role="button" [routerLink]="['/calls', job.jobID]">Esecuzioni</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

  </div>
</div>

