<log4net>
  
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  
  <appender name="LoggerInternalAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log\IceScheduler.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{MM-dd hh:mm:ss.ffff}  [%thread]  %m%n" />
    </layout>
    <immediateFlush value="true"/>
  </appender>
  
  <appender name="LoggerEmailClientAppender" type="log4net.Appender.SmtpAppender">
    <to value="dflori@informaticacentro.it" />
    <from value="IceQuartz@informaticacentro.it" />
    <subject value="ICeScheduler Email" />
    <smtpHost value="srv-samantha" />
    <authentication value="0" />
    <username value="" />
    <password value="" />
    <port value ="25" />
    <bufferSize value="512" />
    <lossy value="true"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="Info"/>
    </evaluator>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="Info"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
  </appender>
  
  <appender name="LoggerEmailSupportAppender" type="log4net.Appender.SmtpAppender">
    <to value="dflori@informaticacentro.it" />
    <from value="IceQuartz@informaticacentro.it" />
    <subject value="ICeScheduler Email" />
    <smtpHost value="srv-samantha" />
    <authentication value="0" />
    <username value="" />
    <password value="" />
    <port value ="25" />
    <bufferSize value="512" />
    <lossy value="true"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="Error"/>
    </evaluator>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="Error"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
  </appender>
  
  <appender name="LoggerEventLogAppender" type="log4net.Appender.EventLogAppender">
    <applicationName value="ICeQuartzScheduler" />
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="Error"/>
    </filter>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="Info"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <logger name="LoggerInternal">
    <level value="Debug" />
    <appender-ref ref="LoggerInternalAppender" />
  </logger>
  <logger name="LoggerEmailClient">
    <level value="Info" />
    <appender-ref ref="LoggerEmailClientAppender" />
  </logger>
  <logger name="LoggerEmailSupport">
    <level value="Error" />
    <appender-ref ref="LoggerEmailSupportAppender" />
  </logger>
  <logger name="LoggerConsole">
    <level value="Debug" />
    <appender-ref ref="ConsoleAppender" />
  </logger>
  <logger name="LoggerEventLog">
    <level value="Info" />
    <appender-ref ref="LoggerEventLogAppender" />
  </logger>

</log4net>